* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #303F9F;
  color: #fff; 
  border-top: 4px solid rgb(76, 175, 80);
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.logo{
  text-align: center;
  padding-top: 70px;
}

.logo > img{
  margin-left: 0px;
}